API_ID="11575752"
API_HASH="9e622ca174203573f00cd1497fc335c7"
BOT_TOKEN="6869399510:AAEud9wGuo4PS77Zr7WuZ4jW0OZTlzr8mt8"
LOGGER_ID="-1002143588686"
MONGO_DB_URI="mongodb+srv://Muhammad:new37@cluster0.i5k0icq.mongodb.net/?retryWrites=true&w=majority"
OWNER_ID="6869399510"
STRING_SESSION="BQCwocgAr6ZO1Eby0hTnjMMndf6FpfTJMCWPsfTdppOFW3LrERHjWjgkufUBGQgOqvIV_2B8YTTgDlM10aDAEEBzxeLzzV4blvwuXzni7E2__Z7bnEL4IP44njKgY8YaJIfhB70EgeU5h1tOJauGpVI_xGOYBYaSnNdTaXUYMBlZyViQfe7jJHHuck2lhtqZ5K4qbmskOz97axf2mNepv8ShxJc9SplZ2v1yNCqhrklZTo86ZE5K49PM5hzg3EXXFllr6li1i-cK9IXTax8wt8LfZMyCvHDu0VCZ0FgweRxtZ3PZf2veW4B20O83DwWlFmjbFb5nQSj1vcQ4Wyvul2x2uxys-QAAAAF3Do3qAA"
